body {
    font-family: helvetica, sans-serif;
    font-size: 20px;
    color: #efcf5e;
    align-content: center;
    text-align: center;
}

#header {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    color: #efcf5e;
    background-color: #21345e;
    height: 100px;
    padding: 5px;
    width: 100%;
}

#gameBoard {
    display: -webkit-flex;
    display: flex;
    width: 655px;
    height: 650px;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
    background-image: url("../images/manheim.jpg");
    background-repeat: no-repeat;
}

.cell {
    align-items: center;
    background-color: #21345e;
    width: 100px;
    height: 100px;
    margin: 3px;
    z-index: 1;
    padding-left: 5px;
    vertical-align: middle;
    line-height: 90px;
    border-radius: 10px;
}

#gameRules {
    color: grey;
}

#gameresults {
    border: #efcf5e 3px dashed;
    color: white;
    background-color: #21345e;
    height: 100px;
    margin: 0 auto;
    line-height: 1.3em;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 0 4px #575b5c, 2px 1px 6px 5px rgba(10, 10, 0, 0.5);
    width: 400px;
    margin-bottom: 30px;
}

#footer {
    color: #fff;
    text-align: center;
    height: 55px;
    background-color: #21345e;
    padding: 5px;
}

#footer a {
    text-decoration: none;
    color: #efcf5e;
}

input[type=submit] {
    width: 100%;
    display: center;
    background-color: #efcf5e;
    color: white;
}

div p {
    font-size: 18px;
}

div input {
    font-size: 14px;
}

